* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d-flex {
    display: flex;
    justify-content: space-around;
    background-color: rgb(66,167,191);
    color: white;
    gap: 200px;
    padding-top: 15px;
}

.header-icons svg {
    margin-left: 15px;
    font-size: 18px;
}